<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.pojo.Admin">
        <id column="Admin_id" property="adminId" />
        <result column="Admin_account" property="adminAccount" />
        <result column="Admin_pwd" property="adminPwd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Admin_id, Admin_account, Admin_pwd
    </sql>

</mapper>
